Importing the libraries

In [55]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [56]:
#Loading the dataset to a pandas data frame
creditcard_data = pd.read_csv("Downloads\creditcard.csv")
creditcard_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [57]:
creditcard_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [60]:
#Dataset information
creditcard_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
Time      284807 non-null float64
V1        284807 non-null float64
V2        284807 non-null float64
V3        284807 non-null float64
V4        284807 non-null float64
V5        284807 non-null float64
V6        284807 non-null float64
V7        284807 non-null float64
V8        284807 non-null float64
V9        284807 non-null float64
V10       284807 non-null float64
V11       284807 non-null float64
V12       284807 non-null float64
V13       284807 non-null float64
V14       284807 non-null float64
V15       284807 non-null float64
V16       284807 non-null float64
V17       284807 non-null float64
V18       284807 non-null float64
V19       284807 non-null float64
V20       284807 non-null float64
V21       284807 non-null float64
V22       284807 non-null float64
V23       284807 non-null float64
V24       284807 non-null float64
V25       284807 non-null float64
V26       284807 non-null float64
V27       284807 non-null float64
V28       284807 non-null float64
Amount    284807 non-null float64
Class     284807 non-null int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [63]:
 #Checking the no of missing values in each column
creditcard_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [64]:
#The distribution of ligid transaction and fraudlent transaction
creditcard_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This data set is highly unbalanced

0---> Normal transaction

1---> Fraudlent transaction

In [65]:
#Seperating the data for analysis
legit = creditcard_data[creditcard_data.Class == 0]
fraud = creditcard_data[creditcard_data.Class == 1]

In [66]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [67]:
#Statistical measure of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [68]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [69]:
#Compare the values for both transaction
creditcard_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Build a sample data set cantaining similar distribution of normal transaction and fraudlent transaction

In [70]:
#Number of fraudlent transaction--->492
legit_sample = legit.sample(n=492)

Concatenating two data frames

In [71]:
new_dataset = pd.concat([legit_sample,fraud],axis=0)
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
21604,31760.0,1.234633,0.100987,0.040961,1.269732,-0.040489,-0.190705,0.074143,-0.040938,0.518873,...,-0.187515,-0.425163,-0.196218,-0.463965,0.804328,-0.288487,0.011925,0.011396,24.73,0
132390,79972.0,-0.489159,1.000765,1.667153,-0.002326,-0.052951,-0.598919,0.669770,0.040627,-0.446072,...,-0.173279,-0.408815,0.062297,0.384048,-0.302837,0.079982,0.280778,0.121672,9.83,0
106595,70029.0,1.213829,0.199645,-0.098758,0.689369,0.491821,0.563663,-0.031064,0.124669,-0.203809,...,0.085622,0.306185,-0.254307,-1.130628,0.744573,-0.214332,0.031922,-0.000722,14.90,0
248221,153842.0,-0.420937,0.535094,-0.498182,-1.771891,0.724677,-0.773605,1.500605,-0.430030,-0.335976,...,0.229629,0.782312,-0.152247,-0.345166,-0.614214,0.790724,-0.116780,0.198364,91.00,0
54719,46587.0,-2.058522,0.701180,1.061899,-3.617093,-0.648450,-0.469274,0.358478,0.024413,0.983211,...,-0.821832,-1.079005,-0.245942,-0.293590,0.630775,-0.287035,0.140285,-0.082786,30.00,0

In [72]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [73]:
new_dataset['Class'].value_counts()

1    492
0    492
Name: Class, dtype: int64

In [74]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,92295.225610,0.108498,0.078422,0.005526,-0.034712,-0.045202,0.005237,-0.027572,0.004303,-0.015068,...,0.040753,0.028398,-0.034631,0.021795,0.016967,-0.005690,0.007500,0.011406,0.016123,85.268577
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Spliting the data into features & targets

In [75]:
x = new_dataset.drop(columns='Class',axis=1)
y = new_dataset['Class']
print(x)

            Time        V1        V2        V3        V4        V5        V6  \
21604    31760.0  1.234633  0.100987  0.040961  1.269732 -0.040489 -0.190705
132390   79972.0 -0.489159  1.000765  1.667153 -0.002326 -0.052951 -0.598919
106595   70029.0  1.213829  0.199645 -0.098758  0.689369  0.491821  0.563663
248221  153842.0 -0.420937  0.535094 -0.498182 -1.771891  0.724677 -0.773605
54719    46587.0 -2.058522  0.701180  1.061899 -3.617093 -0.648450 -0.469274
141079   84109.0  1.168316  0.004636  0.799679  0.931308 -0.831174 -0.838314
104661   69177.0 -0.208745  0.856294  1.620251  1.674846 -0.216648  0.376392
243319  151884.0  0.093319  0.977059 -0.331880 -0.624988  0.888892 -0.592453
269028  163497.0  2.012595  0.687842 -1.911462  3.542058  1.454332  0.085215
41564    40739.0 -1.584957  1.772582  0.709252  1.101980 -1.129595 -0.491805
226562  144691.0  1.766880 -0.443740 -1.846440  0.353722  0.103419 -0.497901
178039  123451.0  2.052646 -0.102170 -1.078682  0.414843 -0.164990 -1.142989
118589   75139.0 -0.513769  0.654928  1.901009 -0.100082 -0.035341 -1.157064
195297  130989.0 -1.564557 -1.158511  1.970267 -0.340002  1.142535 -0.335766
128488   78729.0 -0.380754  1.090893  1.412725  0.148331 -0.179716 -1.166857
2305      1848.0  1.123803 -0.517305  0.351660  0.114754 -0.646734  0.132072
38266    39319.0 -5.754610 -3.212647 -0.994316 -3.804415  0.679354 -0.367162
2272      1817.0 -1.193808  1.156662 -0.220594 -1.186342  2.320852  3.589198
111921   72428.0  0.961120 -0.322148  0.917542  0.755252 -0.934165 -0.412821
59250    48763.0  0.947605 -0.490974  1.555628  1.804163 -1.252437  0.544277
281700  170365.0 -0.765148  1.403231 -0.360024 -0.675773  0.046986 -1.130718
25157    33525.0 -0.067600  0.017727  1.535817 -1.527941 -0.058462  0.000701
220654  142257.0  2.197919 -1.550603 -1.422387 -2.003652 -0.181942  1.465296
147760   88946.0  1.800060 -0.022490 -1.903307  0.835733  1.484475  1.329458
67072    52352.0  0.831363 -1.646081  0.330634 -0.589735 -1.555191 -0.280220
62048    50100.0  1.182582 -0.272334  0.766873  0.487497 -0.448327  0.699693
228077  145349.0  2.050811 -0.123872 -1.441851  0.187087  0.096706 -0.882825
187428  127529.0  2.237549 -0.601025 -2.555226 -1.031367  0.289310 -1.257609
262739  160627.0  1.039242 -2.345469  0.146849  1.166721 -1.733356  1.072306
219701  141844.0 -1.140440  1.159940  1.010006 -0.831451 -0.263390  1.001520
...          ...       ...       ...       ...       ...       ...       ...
251891  155548.0  1.878230  1.325630 -2.333469  4.233151  1.355184 -0.853508
251904  155554.0 -1.040067  3.106703 -5.409027  3.109903 -0.887237 -2.497522
252124  155662.0 -1.928613  4.601506 -7.124053  5.716088  1.026579 -3.189073
252774  155965.0 -1.201398  4.864535 -8.328823  7.652399 -0.167445 -2.767695
254344  156685.0 -0.129778  0.141547 -0.894702 -0.457662  0.810608 -0.504723
254395  156710.0  0.202402  1.176270  0.346379  2.882138  1.407133 -0.504355
255403  157207.0  1.170756  2.501038 -4.986159  5.374160  0.997798 -1.259004
255556  157284.0 -0.242245  4.147186 -5.672349  6.493741  1.591168 -1.602523
258403  158638.0 -5.976119 -7.196980 -5.388316  5.104799  4.676533 -5.566870
261056  159844.0 -0.408111  3.132944 -3.098030  5.803893  0.890609 -0.501474
261473  160034.0 -2.349340  1.512604 -2.647497  1.753792  0.406328 -2.188494
261925  160243.0 -2.783865  1.596824 -2.084844  2.512986 -1.446749 -0.828496
262560  160537.0  0.567539  3.309385 -6.631268  6.394574 -0.054172 -2.396535
262826  160665.0 -0.417340  4.700055 -7.521767  7.671884  0.260821 -2.646693
263080  160791.0  2.132386  0.705608 -3.530759  0.514779  1.527175 -1.716268
263274  160870.0 -0.644278  5.002352 -8.252739  7.756915 -0.216267 -2.751496
263324  160895.0 -0.848290  2.719882 -6.199070  3.044437 -3.301910 -1.992117
263877  161154.0 -3.387601  3.977881 -6.978585  1.657766 -1.100500 -3.599487
268375  163181.0 -5.238808  0.623013 -5.784507  1.678889 -0.364432 -0.477295
272521  165132.0 -7.503926 -0.360628 -3.830952  2.486103  2.497367  1.332437
274382  165981.0 -5.766879 -8.402154  0.056543  6.950983  9.880564 -5.773192
274475  166028.0 -0.956390  2.361594 -3.171195  1.970759  0.474761 -1.902598
275992  166831.0 -2.027135 -1.131890 -1.135194  1.086963 -0.010547  0.423797
276071  166883.0  2.091900 -0.757459 -1.192258 -0.755458 -0.620324 -0.322077
276864  167338.0 -1.374424  2.793185 -4.346572  2.400731 -1.688433  0.111136
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7         V8        V9   ...         V20       V21       V22  \
21604   0.074143  -0.040938  0.518873   ...   -0.169409 -0.187515 -0.425163
132390  0.669770   0.040627 -0.446072   ...    0.078566 -0.173279 -0.408815
106595 -0.031064   0.124669 -0.203809   ...   -0.072450  0.085622  0.306185
248221  1.500605  -0.430030 -0.335976   ...   -0.164040  0.229629  0.782312
54719   0.358478   0.024413  0.983211   ...    0.092198 -0.821832 -1.079005
141079 -0.090686  -0.117536  0.521253   ...   -0.102387 -0.268479 -0.647810
104661  0.263549   0.113051 -0.052346   ...    0.029193  0.063318  0.462894
243319  0.865697   0.036681 -0.291863   ...    0.016342 -0.283002 -0.711688
269028  0.778110  -0.235969 -1.272918   ...   -0.253977  0.065861  0.189081
41564  -0.745179   1.276714 -1.160340   ...   -0.319404  0.269140  0.299535
226562 -0.002191   0.031016  0.958300   ...   -0.024078 -0.143810 -0.533089
178039  0.130530  -0.275853  0.628869   ...   -0.267917 -0.290023 -0.723641
118589  1.084143  -0.484869 -0.508121   ...    0.273555 -0.016277  0.203751
195297 -0.905444   0.544350  0.284047   ...    0.347953  0.269878  0.236604
128488  0.724514  -0.078670 -0.372631   ...    0.102337 -0.240694 -0.655828
2305   -0.506592   0.345755  0.833088   ...   -0.226891 -0.267536 -0.832263
38266  -1.316030  -2.249237  1.600639   ...   -3.164150  1.236869 -0.809784
2272    0.046971   1.027793  0.394180   ...    0.581834 -0.335394 -0.650145
111921 -0.294160   0.041909  0.384495   ...    0.060639  0.021085 -0.147455
59250  -0.850094   0.355174  1.479121   ...   -0.137231  0.122063  0.696258
281700  0.633314   0.255275  0.207222   ...    0.096213 -0.292878 -0.671540
25157   0.121394  -0.035075 -1.432367   ...    0.172407  0.030584  0.084874
220654 -1.435875   0.427105 -1.382703   ...   -0.524673 -0.097015  0.269574
147760  0.199528   0.382311 -0.267330   ...   -0.382414  0.210612  0.706446
67072  -0.695392   0.066121 -0.559741   ...    0.565287  0.480227  0.583170
62048  -0.694957   0.262731  0.680982   ...    0.016977 -0.099524 -0.145331
228077  0.091115  -0.189926  0.490929   ...   -0.278005  0.266412  0.857454
187428  0.278201  -0.415121 -1.139170   ...   -0.092128  0.518732  1.425679
262739 -0.964830   0.318399  2.707094   ...    0.688969  0.362024  0.617565
219701 -2.337511  -4.799249  0.588773   ...    0.089920  1.110559 -0.147892
...          ...        ...       ...   ...         ...       ...       ...
251891  0.716025  -0.164910 -1.502345   ...   -0.226108 -0.152131 -0.360736
251904 -2.073347   0.639818 -3.013331   ...    1.054390  0.773961  0.214868
252124 -2.261897   1.185096 -4.441942   ...    0.328796  0.602291 -0.541287
252774 -3.176421   1.623279 -4.367228   ...    0.597026  0.532320 -0.556913
254344  1.373588  -0.209476  0.208494   ...    0.399447 -0.032643 -0.246526
254395  1.438537  -0.395603 -1.555142   ...   -0.206239  0.242560  0.841230
255403 -1.237689   0.358426 -2.612489   ...    0.227618  0.123145 -0.713201
255556 -0.950463   0.722903 -4.128505   ...    0.562030  0.249023 -0.480286
258403 -4.291180   0.876531 -1.075478   ...    3.136338  1.459369 -0.136262
261056 -0.440054   0.591828 -3.267693   ...    0.499568  0.098482 -0.538375
261473 -0.686935  -0.547984 -0.099528   ...   -0.093421 -0.088519 -0.595178
261925 -0.732262  -0.203329 -0.347046   ...   -0.515001  0.203563  0.293268
262560 -2.792489   0.514811 -3.541780   ...    0.555412  0.614221 -0.365047
262826 -2.854432   0.958783 -4.588536   ...    0.832035  0.622200 -0.437708
263080  1.132791  -0.574214  0.128904   ...   -0.211167  0.163739  0.703910
263274 -3.358857   1.406268 -4.403852   ...    0.816558  0.587728 -0.605759
263324 -3.734902   1.520079 -2.548788   ...    0.319576  1.125229  0.805258
263877 -3.686651   1.942252 -3.065089   ...   -0.004301  1.043587  0.262189
268375 -4.276132  -0.695173 -2.971644   ...   -0.203270 -0.326140  1.509239
272521 -6.783964 -15.415385  0.465512   ...   -0.475126 -6.389132  2.249964
274382 -5.748879   0.721743 -1.076274   ...    2.493224  0.880395 -0.130436
274475 -0.055178   0.277831 -1.745854   ...    0.190877  0.473211  0.719400
275992  3.790880  -1.155595 -0.063434   ...    0.033804 -0.315105  0.575520
276071 -1.082511   0.117200 -0.140927   ...    0.037438  0.288253  0.831939
276864 -0.922038  -2.149930 -2.027474   ...    0.650196 -0.870779  0.504849
279863 -0.882850   0.697211 -2.064945   ...    1.252967  0.778584 -0.319189
280143 -1.413170   0.248525 -1.127396   ...    0.226138  0.370612  0.028234
280149 -2.234739   1.210158 -0.652250   ...    0.247968  0.751826  0.834108
281144 -2.208002   1.058733 -1.632333   ...    0.306271  0.583276 -0.269209
281674  0.223050  -0.068384  0.577829   ...   -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
21604  -0.196218 -0.463965  0.804328 -0.288487  0.011925  0.011396   24.73
132390  0.062297  0.384048 -0.302837  0.079982  0.280778  0.121672    9.83
106595 -0.254307 -1.130628  0.744573 -0.214332  0.031922 -0.000722   14.90
248221 -0.152247 -0.345166 -0.614214  0.790724 -0.116780  0.198364   91.00
54719  -0.245942 -0.293590  0.630775 -0.287035  0.140285 -0.082786   30.00
141079  0.104059  0.726488  0.284055  0.159291 -0.018464  0.022977   22.76
104661 -0.192740  0.114000 -0.006680 -0.058316  0.005314  0.044283   14.99
243319  0.102199  0.656228 -0.473777  0.087180  0.217483  0.075203    3.59
269028 -0.081485  0.025448  0.520859  0.182132 -0.090046 -0.066299   21.97
41564   0.062676  0.524162 -0.508889 -0.490031 -0.429380 -0.064617    6.61
226562  0.141767  0.553808 -0.183005 -0.145537 -0.042192 -0.008855  118.28
178039  0.353823 -0.029285 -0.333379  0.203009 -0.071432 -0.061725    1.98
118589 -0.277243  1.035783  0.307407  1.191190 -0.208324 -0.165789   28.00
195297  0.268581  0.681496 -0.380035  0.119767  0.045917  0.169923   46.78
128488  0.049808  0.650697 -0.211215  0.052451  0.240940  0.101605   11.67
2305    0.077054 -0.335636  0.046443  0.880639 -0.079967 -0.011585   39.95
38266   0.106232 -1.246546  0.556764 -0.932780  0.440104  0.974880   89.99
2272   -0.142473  1.014423  0.299988  0.269237  0.629744  0.371340    2.44
111921  0.076121  0.417199 -0.002567  0.212768 -0.010636  0.043629  108.00
59250  -0.141926  0.441481  0.534285 -0.117081  0.094603  0.040741   61.88
281700  0.119070 -0.128983 -0.350755  0.159474  0.338681  0.150424   10.99
25157  -0.095217 -0.327363 -0.216238 -0.453811 -0.124587 -0.214955    7.95
220654  0.263030 -0.978475 -0.319029 -0.076952  0.046263 -0.074260   10.00
147760  0.212045 -0.620441 -0.030567 -0.521203  0.031643 -0.073712   23.40
67072  -0.359320  0.019773  0.306381 -0.126434 -0.041659  0.053737  289.00
62048  -0.148579 -0.788683  0.387662  0.368313  0.010818  0.009609   28.75
228077 -0.042566 -0.322458  0.250871 -0.105479 -0.029741 -0.073737    2.69
187428 -0.196820  0.832600  0.701486  0.247198 -0.114705 -0.096360   24.00
262739 -0.242893  0.741643 -0.306874 -0.232541  0.024043  0.058857  450.87
219701 -0.438500  0.620352  1.571547  0.337400  0.116579  0.206065    1.00
...          ...       ...       ...       ...       ...       ...     ...
251891  0.043414 -0.242380  0.171098 -0.002601 -0.026667  0.005238    7.06
251904 -0.184233 -0.284091  0.493467  0.732329  0.675067  0.337076   94.82
252124 -0.354639 -0.701492 -0.030973  0.034070  0.573393  0.294686    0.77
252774  0.192444 -0.698588  0.025003  0.514968  0.378105 -0.053133    0.77
254344  0.484108  0.359637 -0.435972 -0.248480  0.021527  0.109192  187.11
254395 -0.370157 -0.026012  0.491954  0.234576 -0.279788 -0.331933    7.59
255403 -0.080868 -0.964310  0.338568  0.068630  0.481588  0.268226    4.97
255556 -0.286080 -1.153575 -0.035571  0.559628  0.409446  0.221048    0.77
258403  0.848177 -0.269916 -1.095060 -0.710905  0.565846 -1.034107  296.00
261056 -0.217989 -1.042657  0.314389  0.543244  0.233851  0.119603   45.51
261473  0.258148  0.061901 -0.354180 -1.152671 -0.736073  0.733703    4.90
261925  0.199568  0.146868  0.163602 -0.624085 -1.333100  0.428634  156.00
262560 -0.180409 -0.523271  0.645054  0.246466  0.902675  0.473571    4.69
262826 -0.090358 -0.742802 -0.312361  0.502575  0.821390  0.372379    0.77
263080 -0.245076  0.460049  0.920281 -0.216586 -0.026219 -0.025001    1.00
263274  0.033746 -0.756170 -0.008172  0.532772  0.663970  0.192067    0.77
263324  0.199119  0.035206  0.012159  0.601658  0.137468 -0.171397  127.14
263877 -0.479224 -0.326638 -0.156939  0.113807  0.354124  0.287592    0.38
268375 -0.215966 -0.245727  0.893041  0.865758  0.854657 -0.964482   39.98
272521  1.670508  0.140450  0.162147  1.207731  1.268958  0.097538   12.31
274382  2.241471  0.665346 -1.890041 -0.120803  0.073269  0.583799    0.00
274475  0.122458 -0.255650 -0.619259 -0.484280  0.683535  0.443299   39.90
275992  0.490842  0.756502 -0.142685 -0.602777  0.508712 -0.091646  634.30
276071  0.142007  0.592615 -0.196143 -0.136676  0.020182 -0.015470   19.95
276864  0.137994  0.368275  0.103137 -0.414209  0.454982  0.096711  349.08
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [76]:
new_dataset.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [77]:
print(y)

21604     0
132390    0
106595    0
248221    0
54719     0
141079    0
104661    0
243319    0
269028    0
41564     0
226562    0
178039    0
118589    0
195297    0
128488    0
2305      0
38266     0
2272      0
111921    0
59250     0
281700    0
25157     0
220654    0
147760    0
67072     0
62048     0
228077    0
187428    0
262739    0
219701    0
         ..
251891    1
251904    1
252124    1
252774    1
254344    1
254395    1
255403    1
255556    1
258403    1
261056    1
261473    1
261925    1
262560    1
262826    1
263080    1
263274    1
263324    1
263877    1
268375    1
272521    1
274382    1
274475    1
275992    1
276071    1
276864    1
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split the data in to training data and testing data

In [78]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=2)
print(x.shape, x_train.shape, x_test.shape)

(984, 30) (787, 30) (197, 30)

Model training

Logistic Regression

In [79]:
model = LogisticRegression()

In [80]:
#Training the logistic Regression Model with training data
model.fit(x_train, y_train)

C:\Users\SHIVAM MISHRA\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

Model evaluation

Accuracy score

In [81]:
#accuracy on training data
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction,y_train)

In [82]:
print('Accuracy on training data:',training_data_accuracy)

Accuracy on training data: 0.9466327827191868

In [86]:
#Accuracy on test data
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction, y_test)

In [87]:
print('Accuracy on test data:',test_data_accuracy)

Accuracy on test data: 0.9187817258883249